development:
  clients:
    default:
      database: google_syncinator_development
      hosts:
        - localhost:27017

test:
  clients:
    default:
      database: google_syncinator_test
      hosts:
        - localhost:27017
