sentry:
  url:

trogdir:
  access_id:
  secret_key:

alphabet:
  api_client:
    key_path: # set in settings.local.yml
    secret: # set in settings.local.yml
    issuer: # set in settings.local.yml
    person: # set in settings.local.yml

ws:
  db:
    host: db.example.com
    user: alphabet_syncinator
    password: "************"
