dry_run: # set to true if you want to generate logs but not really do anything
third_party_apis: # set to false to disable calling Google's APIs

sentry:
  url:

trogdir:
  access_id:
  secret_key:

google:
  api_client:
    key_path: # set in settings.local.yml
    secret: # set in settings.local.yml
    issuer: # set in settings.local.yml
    person: # set in settings.local.yml

ws:
  db:
    host: db.example.com
    user: google_syncinator
    password: "************"
